@import 'variables';

.hide {
  transform: translateY(-100%);
}

.main {
  position: relative;
  background-color: $background-primary-color;
}

.nav {
  width: 100%;
  position: fixed;
  background-color: rgba($background-secondary-color, $alpha: .82);
  backdrop-filter: blur(25px);
  border: 1px solid $border-color;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  transition: transform 0.3s ease-in-out;
}

.nav .logo {
  width: 40px;
  height: 40px;
  position: relative;
  align-self: center;
  cursor: pointer;
}

.nav .logo img {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-45%);
}

.nav .links {
  font-family: $regular-font;
  font-size: $nav-font-size;
  margin-top: -3px;
  display: inline-flex;
  align-items: center;
}

.nav .links a {
  color: $light-color;
  text-decoration: none;
}

.nav .links a:hover {
  color: $hover-color;
}

.nav .links .tshirts {
  margin-left: 50px;
  margin-right: 25px;
}

.nav .links .shorts {
  margin-left: 25px;
  margin-right: 25px;
}

.nav .links .tracking {
  margin-left: 25px;
  margin-right: 50px;
}

.nav .language {
  align-self: center;
  margin-right: 25px;
}

.nav .cart {
  width: 36px;
  height: 36px;
  position: relative;
  background-color: $secondary-color;
  border-radius: $round-border;
  display: inline-flex;
  align-self: center;
  cursor: pointer;
}

.nav .cart:hover i {
  color: $hover-color;
}

.nav .cart i {
  position: absolute;
  top: 51.5%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 13px;
}

.nav .sidebar {
  width: 36px;
  height: 36px;
  position: relative;
  background-color: $secondary-color;
  border-radius: $round-border;
  margin-left: 10px;
  display: inline-flex;
  align-self: center;
  cursor: pointer;
}

.nav .sidebar:hover i {
  color: $hover-color;
}

.nav .sidebar i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 14px;
}

.poster {
  padding-top: 140px;
  padding-bottom: 60px;
}

.poster .image {
  width: 100%;
  height: auto;
}

.products {
  position: relative;
  padding-bottom: 60px;
}

.products .title {
  color: #ffffff;
  font-family: $bold-font;
  font-size: $section-font-size;
  margin-bottom: -15px;
}

.products .product {
  background-color: $background-secondary-color;
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}

.products .product:hover {
  transform: scale(1.03)
}

.products .product .image {
  width: 100%;
  height: auto;
}

.products .product .info {
  padding-top: 23px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 30px;
}

.products .product .colors {
  float: right;
  display: inline-flex;
}

.products .product .colors .white {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-right: 10px;
  display: inline-flex;
  box-sizing: border-box;
  cursor: pointer;
}

.products .product .colors .white:hover {
  border: 2px solid $hover-color;
}

.products .product .colors .gray {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #828282;
  margin-right: 10px;
  display: inline-flex;
  box-sizing: border-box;
  cursor: pointer;
}

.products .product .colors .gray:hover {
  border: 2px solid $hover-color;
}

.products .product .colors .black {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #000000;
  box-shadow: 0 0 1.5px rgba(#fff, .6);
  display: inline-flex;
  box-sizing: border-box;
  cursor: pointer;
}

.products .product .colors .black:hover {
  border: 2px solid $hover-color;
}

.products .product .info .name {
  color: #ffffff;
  font-family: $bold-font;
  font-size: $product-font-size;
  margin-bottom: 13px;
  display: inline-flex;
}

.products .product .info .label {
  color: $label-color;
  font-family: $medium-font;
  font-size: 16px;
  display: inline-flex;
}

.products .product .info .size {
  color: #ffffff;
  font-family: $medium-font;
  font-size: 16px;
  margin-left: 10px;
  display: inline-flex;
  cursor: pointer;
}

.products .product .info .size:hover {
  color: $hover-color;
}

.footer {
  background-color: $background-secondary-color;
  padding-top: 50px;
}

.footer .logo {
  width: 40px;
  height: 40px;
  position: relative;
}

.footer .logo img {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.footer .warning {
  color: #fff;
  font-family: $light-font;
  font-size: 10px;
  margin-top: 10px;
}

.footer .links {
  display: inline-flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 40px;
}

.footer .links .topic {
  font-family: $bold-font;
  font-size: 16px;
  color: #ffffff;
}

.footer .links .link {
  font-family: $regular-font;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}

.footer .links .link a {
  color: $light-color;
}

.footer .links .link a:hover {
  color: $hover-color;
}

.footer .language {
  border: 1px solid #151515;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 11px;
  user-select: none;
  cursor: pointer;
}

.footer .language:hover {
  border: 1px solid #fff;
}

.footer .language .title {
  color: #ffffff;
  font-family: $bold-font;
  margin-left: 12px;
  margin-right: 12px;
  display: inline-flex;
}

.footer .language i {
  color: #ffffff;
  font-size: 14.5px;
  display: inline-flex;
}

.footer .social {
  margin-top: 30px;
}

.footer .social i {
  color: #cccccc;
  font-size: 20px;
  margin-left: 35px;
  cursor: pointer;
}

.footer .social i:hover {
  color: $hover-color;
}

.footer .copyright {
  border-top: 1px solid #151515;
  color: #565656;
  font-family: $regular-font;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 5px;
}
